<div class="container">
    <ul class="list-unstyled">

        <div class="row">
            <div class="col-sm-12">
                <li class="card card-body bg-light mb-2">
                    <button mat-button value="left">Click me!</button>
                    <span>button </span>
                </li>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <li class="card card-body bg-light mb-2">
                    <mat-button-toggle-group #group="matButtonToggleGroup">
                        <mat-button-toggle value="left">
                            <mat-icon>format_align_left</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="center">
                            <mat-icon>format_align_center</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="right">
                            <mat-icon>format_align_right</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="justify" disabled>
                            <mat-icon>format_align_justify</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <div class="example-selected-value">Selected value: {{group.value}}</div>
                </li>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <li class="card card-body bg-light mb-2">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                                {{fruit}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                                {{fruit}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <span>form-field</span>
                </li>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <li class="card card-body bg-light mb-2">
                    <mat-spinner></mat-spinner>
                    <span>spinner</span>
                </li>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <li class="card card-body bg-light mb-2">
                    <mat-card>
                        <mat-card-content>
                            <h2 class="example-h2">Progress bar configuration</h2>

                            <section class="example-section">
                                <label class="example-margin">Color:</label>
                                <mat-radio-group [(ngModel)]="color">
                                    <mat-radio-button class="example-margin" value="primary">
                                        Primary
                                    </mat-radio-button>
                                    <mat-radio-button class="example-margin" value="accent">
                                        Accent
                                    </mat-radio-button>
                                    <mat-radio-button class="example-margin" value="warn">
                                        Warn
                                    </mat-radio-button>
                                </mat-radio-group>
                            </section>

                            <section class="example-section">
                                <label class="example-margin">Mode:</label>
                                <mat-radio-group [(ngModel)]="mode">
                                    <mat-radio-button class="example-margin" value="determinate">
                                        Determinate
                                    </mat-radio-button>
                                    <mat-radio-button class="example-margin" value="indeterminate">
                                        Indeterminate
                                    </mat-radio-button>
                                    <mat-radio-button class="example-margin" value="buffer">
                                        Buffer
                                    </mat-radio-button>
                                    <mat-radio-button class="example-margin" value="query">
                                        Query
                                    </mat-radio-button>
                                </mat-radio-group>
                            </section>

                            <section class="example-section" *ngIf="mode === 'determinate' || mode === 'buffer'">
                                <label class="example-margin">Progress:</label>
                                <mat-slider class="example-margin" [(ngModel)]="value"></mat-slider>
                            </section>
                            <section class="example-section" *ngIf="mode === 'buffer'">
                                <label class="example-margin">Buffer:</label>
                                <mat-slider class="example-margin" [(ngModel)]="bufferValue"></mat-slider>
                            </section>
                        </mat-card-content>
                    </mat-card>

                    <mat-card>
                        <mat-card-content>
                            <h2 class="example-h2">Result</h2>

                            <section class="example-section">
                                <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
                                </mat-progress-bar>
                            </section>
                        </mat-card-content>
                    </mat-card>
                </li>
            </div>
        </div>
    </ul>
</div>